*{
    padding: 0;
    margin: 0;  
}

.app{
    background-image: url(./assets/bgImg.jpg);
    min-height: 100vh; 
    max-height: fit-content;
    background-size: cover;
    background-position: 0rem -10rem;
    display:flex;
    justify-content: center;
    background-attachment: fixed;
    

    > div {
        height: fit-content;
        width: 40%;
        background-color: rgba(88, 120, 148, 0.473);
        margin-top: 2rem;
        margin-bottom: 2rem;     
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 7px;

        >h1{
            text-align: center;
            margin-bottom: 2rem;           
        }

    }
}
::placeholder {
    color: rgba(39, 37, 37, 0.74);
  }

.addTodo{
    > input{
        height: 1.5rem;
        width:70%;
        padding: 0.7rem;
        border-radius: 5px;
        background-color: rgba(240, 248, 255, 0.336);
        border: none;
        outline: none;
        margin-bottom: 1rem;
        
        
    }
    > button{
        height: 2.7rem;
        margin-left: 1rem;
        width:20%;
        padding: 0.7rem;
        border-radius: 5px;
        background-color: rgba(240, 248, 255, 0.336);
        border: none;
        cursor: pointer;
    }
}

.todos{   
    >h3{
        margin: 1rem 0rem;
    }
    >div {
        height: 2rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        background-color: rgba(240, 248, 255, 0.336);
        border: 0.5px solid black;
        align-items: center;
        border-radius: 8px;
        
         
        >p{
            width:70%; 
        }
        >button{
            width: 13%;
            height: 1.5rem;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0);
            border:none;
            font-size: 1.3rem;
            color:green;
        }

    }
}

#delete{
    color:red;
}
#input{
    height: 1.5rem;
    width:70%;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    outline: none;
  
}

  @media screen and (max-width: 960px) {
    .app{ 
     >div{
         width: 70%;
     }
    }
   }

   @media screen and (max-width: 550px) {
    .app{ 
     >div{
         width: 90%;
     }
    }
    .addTodo{
        >button{
            width: 35%;
        }
    }
   }
   
